# Tuple

In [4]:
# 1.Create a tuple?
t=(1,2,3,4,5)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [17]:
# 2.Access Elements from tuple?
t=(2,45,63,3,2)
print(t[3], t[-1])

3 2

In [25]:
# 3.Tuple with Mixed datatype?
t=(1,'apple',3.2,[2,1])
print(t)
print(t[2])
print(type(t[2]))

(1, 'apple', 3.2, [2, 1])
3.2
<class 'float'>

In [30]:
# 4.unpack a tuple?
t=(2,3,22)
a=b=c=t
print(a,b,c)

(2, 3, 22) (2, 3, 22) (2, 3, 22)

In [32]:
# 5.Check if element exists in tuple?
t=(5,4,22,2)
print(22 in t)

True

In [34]:
# 6.Iterate over tuple?
t=('a','b','d')
for item in t:
    print(t)

('a', 'b', 'd')
('a', 'b', 'd')
('a', 'b', 'd')

In [35]:
# 7.tuple concatenation?
t=(2,3,4)
t1=(23.2,'a',2)
c=t+t1
print(c)

(2, 3, 4, 23.2, 'a', 2)

In [36]:
# 8.tuple repetition?
t=(3,2,4,2,2)
print(t * 2)

(3, 2, 4, 2, 2, 3, 2, 4, 2, 2)

In [37]:
# 9.Convert list to tuple?
lst=[3.,23,2,4,5]
t=tuple(lst)
print(t)

(3.0, 23, 2, 4, 5)

In [38]:
# 10.Convert tuple to list?
t=(3,2,5,6,76)
l=list(t)
print(l)

[3, 2, 5, 6, 76]

In [43]:
# 11.Find index of an element?
t=(3,2,4,21)
print(t.index(4))

2

In [45]:
# 12.Count occurrence in tuple?
t=(2,3,4,5,2,3,4,2)
print(t.count(2))

3

In [46]:
# 13.find max and min in tuple?
t=(3,2,5,6,7,9,4)
print(min(t),max(t))

2 9

In [50]:
# 14.Sort a tuple
t=(73,3,45,6,7,8)
sorted_t=tuple(sorted(t))
print(sorted_t)

(3, 6, 7, 8, 45, 73)

In [51]:
# 15.Slice a tuple?
t=(3,2,4,5,3)
print(t[1:3])

(2, 4)

In [54]:
# 16.Nested tuple?
t=(1,2,(8,7,3),42)
print(t)

(1, 2, (8, 7, 3), 42)

In [71]:
# 17.Swap tuples?
a=(6,5,3)
b=(3,5,2)
a,b=b,a
print("a:", a, "b:", b)

a: (3, 5, 2) b: (6, 5, 3)

In [76]:
# 18.tuple with a single unit?
a=(10,)
print(type(a))

<class 'tuple'>

In [77]:
# 19.Merge tuples and remove duplicates?
t=(3,2,4)
t1=(2,3)
m=tuple(set(t+t1))
print(m)

(2, 3, 4)

In [78]:
# 20.Tuple of tuples-Accessing Inner elements?
t=((3,5),(2,6),(7,4))
for a,b in t:
    print(f"a={a},b={b}")

a=3,b=5
a=2,b=6
a=7,b=4